//Global variables

$base-color: rgb(247, 247, 248);
$base-color2: white;
$base-font-color: rgb(49, 49, 49);
$main-color: #6a9bf5;
$secondary-color: #4484fa;
$third-color: #347afd;

$emphasis-color: rgb(43, 43, 43);
$lite-emphasis-color: rgb(116, 116, 116);

$font-stack-sans-serif: "Raleway", "Muli", "Lato", "sans-serif";
$font-stack-serif:  "Cardo", "Vollkorn", "Merriweather", "serif";
$font-weight-standard: 300;


//inheritance
%margin-bottom {
    margin-bottom: 30px;
  }