@charset "UTF-8";
.topic, .bio h1, .development p {
  margin-bottom: 30px;
}

.bio, .development, .skills div, .projects .myproject, .contact-page {
  -webkit-box-shadow: 2px 2px 2px #bbbbbb;
          box-shadow: 2px 2px 2px #bbbbbb;
}

.bio, .development, .contact-page {
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5, .topic, button, .nav, .skills h3 {
  text-shadow: 1px 1px 1px #555555;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #15284b;
  color: #313131;
  font-family: "Poppins", "Raleway", "Muli", "Lato", "sans-serif";
  font-weight: 300;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html a:hover,
body a:hover {
  text-decoration: none;
  color: #15284b;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: bold;
  text-decoration: underline;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  width: 91%;
  margin: 5%;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: #f3a703;
  font-family: "Poppins", "Raleway", "Muli", "Lato", "sans-serif";
}

h1 {
  font-size: 2.5rem;
}

section {
  margin: 3% 0;
}

.topic {
  text-align: center;
  color: #f9b115;
  font-size: 1.8rem;
}

button {
  height: 50px;
  width: auto;
  padding: 12px 15px 18px 15px;
  color: white;
  font-weight: 400;
  background: #f3a703;
  border-radius: 5px;
  border: none;
}

button a:hover {
  font-size: 1.3rem;
  font-weight: normal;
  background: none;
}

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
}

.js--wp-1.animated {
  opacity: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--wp-2.animated {
  opacity: 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--wp-3.animated {
  opacity: 1;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

header {
  width: 100%;
  height: 450px;
  line-height: 1.2;
  letter-spacing: 1px;
}

header .background-img {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("5-img/alex-wong-unsplash.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("5-img/alex-wong-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: center;
}

header h1 {
  color: #f9b115;
  font-size: 3rem;
  text-transform: uppercase;
}

header h3 {
  color: white;
  font-size: 1.7rem;
  font-weight: 800;
}

@media only screen and (max-width: 500px) {
  header .background-img {
    width: 100%;
    height: 80%;
  }
  header h1 {
    font-size: 1.8rem;
  }
  header h3 {
    font-size: 1rem;
  }
}

footer {
  background: #f9b115;
  padding: 20px 30px 10px 30px;
  text-align: center;
  font-family: "Cardo", "Vollkorn", "Merriweather", "serif";
}

footer h5 {
  margin-bottom: 10px;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

footer .webicons img {
  width: 40px;
}

@media only screen and (max-width: 500px) {
  footer h5 {
    font-size: 0.9rem;
  }
  footer .webicons img {
    width: 34px;
  }
}

.nav {
  padding: 1% 5%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f9b115;
  font-weight: 300;
  font-family: "Poppins", "Raleway", "Muli", "Lato", "sans-serif";
  color: white;
  z-index: 10;
}

.nav div a {
  margin: 20px 10px;
  padding: 2px;
}

.nav .social-media {
  float: left;
  font-size: 1.8rem;
}

.nav .navigations {
  float: right;
  font-size: 1.1rem;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

@media (max-width: 500px) {
  .nav {
    padding: 1% 0.2%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "social-media" "navigations";
  }
  .social-media {
    text-align: center;
    padding: 4% 5%;
  }
  .social-media a {
    padding: 0 10px;
  }
  .navigations {
    text-align: center;
    padding: 0.5% 0;
  }
}

.bio {
  font-family: "Poppins", "Raleway", "Muli", "Lato", "sans-serif";
  background: white;
  margin-top: 80px;
  padding: 4% 8%;
}

.development {
  background: white;
  padding: 4% 8%;
  margin-bottom: 4%;
}

.development h4 {
  color: #f5b221;
  text-align: center;
}

.development #download-link {
  color: #f3a703;
}

.development #download-link:hover {
  color: white;
  background: #f9b115;
  padding: 20px;
  border-radius: 40px;
}

.skills {
  font-family: "Arial";
  display: -ms-grid;
  display: grid;
  grid-gap: 25px;
  -ms-grid-columns: (minmax(250px, 360px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 360px));
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 6px;
}

.skills h3 {
  text-align: center;
  font-family: "Muli";
  font-size: 1.8rem;
  font-weight: 10;
  background: #f5b221;
  height: 60px;
  padding-top: 15px;
  color: white;
}

.skills div {
  background: white;
}

.skills ul {
  list-style: none;
  background: white;
  padding: 0 40px 40px 40px;
  border-radius: 2px;
}

.skills ul li {
  padding: 1px;
  list-style-position: inside;
  padding: 10px 0 10px 20px;
  text-indent: -1.3em;
  border-bottom: 1px solid #dbdbdb;
}

.skills ul li::before {
  color: #f9b115;
  margin-right: 10px;
  content: "✓";
}

.img-icons {
  width: 100%;
  height: auto;
  opacity: 0.92;
}

@media only screen and (max-width: 500px) {
  #about-bio {
    margin-top: 0px;
  }
}

.projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(350px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects .myproject {
  background: white;
  padding: 0px 0 80px 0px;
}

.projects .myproject img {
  width: 100%;
}

.projects .project-desc {
  padding: 3% 12%;
}

.projects .project-desc p {
  font-size: 1rem;
}

.projects h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Muli";
  font-size: 1.7rem;
  font-weight: 10;
  background: #f5b221;
  width: 100%;
  height: 60px;
  color: white;
}

.project-desc h5 {
  text-align: center;
  margin-top: 10%;
}

.project-desc h5 #sample-link {
  color: #f3a703;
}

button {
  display: block;
  font-size: 1.2rem;
  margin: 30px auto;
}

@media only screen and (max-width: 500px) {
  .projects {
    -ms-grid-columns: (minmax(300px, auto))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
  .projects .myproject p {
    font-size: 1.2rem;
  }
  p {
    text-align: left;
  }
}

.contact-page {
  margin-top: 80px;
  background: white;
  padding: 4% 8%;
  border: 1px solid white;
}

.contact-page .contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 130px;
}

#contact-footer {
  margin-top: auto;
}
/*# sourceMappingURL=portfolio.css.map */