.contact-page {
  margin-top: 80px;
  background: white;
  padding: 4% 8%;
  border: 1px solid $base-color2;
  border-radius: 2px;
  .contact-button {
    display: flex;
    align-items: center;
    margin-top: 130px;
  }
}

#contact-footer {
  margin-top: auto;
}
