.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
}

.js--wp-1.animated {
  opacity: 1;
  animation-duration: 1s;
}

.js--wp-2.animated {
  opacity: 1;
  animation-delay: 1s;
  animation-duration: 1s;
}

.js--wp-3.animated {
  opacity: 1;
  animation-delay: 2s;
  animation-duration: 1s;
}



