* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $base-color;
  color: $base-font-color;
  font-family: $font-stack-sans-serif;
  font-weight: $font-weight-standard;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  a:hover {
    text-decoration: none;
    color: $base-color;
    transition: all 0.4s ease-in-out;
    font-weight: bold;
    text-decoration: underline;
  }
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  width: 91%;
  margin: 5%;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: $third-color;
  font-family: $font-stack-sans-serif;
  @extend %text-shadow;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin: 3% 0;
}

.topic {
  text-align: center;
  color: $main-color;
  font-size: 1.8rem;
  @extend %margin-bottom;
  @extend %text-shadow;
}

button {
  height: 50px;
  width: auto;
  padding: 12px 15px 18px 15px;
  color: white;
  font-weight: 400;
  background: $third-color;
  border-radius: 5px;
  border: none;
  @extend %text-shadow;
  a:hover {
    font-size: 1.3rem;
    font-weight: normal;
    background: none;
  }
}