* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $base-color;
  color: $base-font-color;
  font-family: $font-stack-serif;
  font-weight: $font-weight-standard;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  height: 100vh;
  a:hover {
    text-decoration: none;
    color: white;
    transition: all 0.4s ease-in-out;
    background: #3276f5;
    font-weight: bold;
  }
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  width: 91%;
  margin: 5%;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: $emphasis-color;
  font-family: $font-stack-sans-serif;
}

hr {
  color: rgb(241, 239, 239);
}

h1 {
  font-size: 2.5rem;
}

section {
  margin: 3% 0;
}

.topic {
  text-align: center;
  @extend %margin-bottom;
}

p {
  text-align: justify;
}

button {
  height: 40px;
  width: auto;
  padding: 5px;
  color: white;
  font-weight: 400;
  background: $third-color;
  border: none;
  a:hover {
    font-size: 1.3rem;
    font-weight: normal;
    background: #5a92fc;
  }
}

button:hover {
  background: #5a92fc;
}