/**********************************************
*** GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(
      rgba(50, 10, 10, 0.1),
      rgba(50, 10, 10, 0.1)
    ),
    url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-size: 100%;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: #555;
}

.wrapper {
  width: 62%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.title {
  position: absolute;
  top: -25px;
  margin: 0 17%;
  font-size: 3.8rem;
  font-family: "Bungee Inline", "Titan One";
  text-transform: uppercase;
  color: #f7f73b;
  text-shadow: -5px -5px 0 #040494, 5px -5px 0 #040494, -5px 5px 0 #040494,
    5px 5px 0 #040494;
}

.player-0-panel,
.player-1-panel {
  background: #d5e4d0;
  width: 50%;
  float: left;
  height: 600px;
  padding: 10%;
}

/**********************************************
*** PLAYERS
**********************************************/

.name-panel {
  margin-top: 10px;
  background: #e5e4c8;
  padding: 0 5% 5% 5%;
  border: 5px solid #333c12;
  border-radius: 4px;
  width: 100%;
}

.player-name {
  color: #5e5b4e;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
}

.active {
  background-color: #f5d29e;
}
.active .player-name {
  font-weight: 700;
  color: white;
}

.active .charizard-panel {
  background: #ff907f;
  border: 5px solid #ff0a0a;
}

.active .charizard-box {
  background: #ff0a0a;
}

.active .blastoise-panel {
  background: #509ff8;
  border: 5px solid #0b69d4;
}

.active .blastoise-box {
  background: #0b69d4;
}

/*----energy----*/

.player-energy-box {
  background-color: #94a19a;
  border-radius: 10px;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  margin-top: 280px;
  padding: 1%;
  text-align: center;
}

.player-energy-label {
  text-transform: uppercase;
  margin-bottom: 8%;
  font-size: 1rem;
  color: white;
}

.player-energy-score {
  font-size: 2rem;
}

/*----Buttons----*/
button {
  position: absolute;
  width: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  font-family: Lato;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #0a2a85;
  font-weight: bold;
}

button:hover {
  font-weight: 600;
  color: #fd3131;
}

button:hover i {
  margin-right: 10%;
  color: #fd3131;
}

button:focus {
  outline: none;
}

i {
  display: inline-block;
  margin-right: 10px;
  font-size: 2rem;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.3s;
}

.btn-start {
  top: 23%;
}

.btn-stop {
  top: 33%;
}

.btn-charge {
  top: 65%;
}

.btn-attack {
  top: 74%;
}

.pokeball {
  position: absolute;
  top: 42%;
  left: 50%;
  width: 12%;
  transform: translateX(-50%);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

#charge-1 {
  top: 42%;
}
.charge {
  position: absolute;
  left: 50%;
  width: 12%;
  transform: translateX(-50%);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

.btn-info {
  top: 86%;
}

.btn-credits {
  top: 94%;
  left: 92%;
}

.btn-exit-inst {
  position: relative;
  top: 0;
  left: 100%;
  background: red;
  color: #dddddd;
  width: 3%;
  height: 25px;
}

.btn-exit-cred {
  position: relative;
  top: 0;
  left: 100%;
  background: red;
  color: #dddddd;
  width: 3%;
  height: 25px;
}

.info-panels {
  position: absolute;
  top: 20%;
  left: 7%;
  width: 86%;
  padding: 1% 4%;
  background: #f3f2e2;
  border: 5px solid #708279;
  border-radius: 5px;
  z-index: 10;
  line-height: 1.7;
  visibility: hidden;
}

/*----winner effects----*/
.winner {
  background-color: #ffcc23;
}
.winner .player-name {
  font-weight: bold;
  color: #d12d2d;
}

/*----Health Bars----*/
.health-bar-0 {
  width: 100%;
  height: 30px;
  background: #b2ccbe;
  color: black;
  border: 2px solid #54675d;
}

.health-bar-0-fill {
  height: 100%;
  background: #66d79f;
  transition: width 0.5s;
}

.health-bar-0-value {
  position: absolute;
  height: 5%;
  font-weight: bold;
}

.health-bar-1 {
  width: 100%;
  height: 30px;
  background: #b2ccbe;
  color: black;
  border: 2px solid #54675d;
}

.health-bar-1-fill {
  height: 100%;
  background: #66d79f;
  transition: width 0.5s;
}

.health-bar-1-value {
  position: absolute;
  height: 5%;
  font-weight: bold;
}


/*----images----*/
.hide-img-0 {
  visibility: hidden;
}

.blastoise {
  margin: 20px;
  width: 30%;
  position: absolute;
  left: 8%;
  top: 36%;
  border: 3px solid #363636;
}

.hide-img-1 {
  visibility: hidden;
}
.charizard {
  margin: 20px;
  width: 30%;
  height: auto;
  position: absolute;
  left: 58%;
  top: 36%;
  border: 3px solid #363636;
}

.damage {
  animation: shake 0.1s;
}

.rotate {
  animation: bounceIn 0.5s;
}

footer {
  position: absolute;
  bottom: 5px;
  left: 38%;
  font-weight: 600;
}

@media only screen and (max-width: 1500px) {
  .wrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 1350px) {
  .title {
    font-size: 3.5rem;
  }

  .btn {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 2.8rem;
  }

  .btn {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 2.3rem;
    top: -10px;
  }
  
  .btn {
    font-size: 0.8rem;
  }

  .player-name {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
    width: 100%;
    height: 100%;
  }

  .title {
    font-size: 2.1rem;
    padding: 0;
    position: absolute;
    left: 100px;
  }

  .name-panel {
    margin: 0;
    padding: 1px 5px;
    position: relative;
    top: -30px;
    height: 100px;
    width: 80%;
    font-size: 0.7rem;
  }

  .player-name {
    font-size: 1.2rem;
  }

  .charizard {
    width: 23%;
  }

  .blastoise {
    width: 23%;
  }

  .player-energy-box {
    margin-top: 62%;
    margin-left: 25%;
    width: 30%;
  }

  .player-energy-score {
    font-size: 1.4rem;
  }

  .player-energy-label {
    font-size: 0.6rem;
  }

  i {
    font-size: 1.3rem;
  }

  .btn {
    font-size: 1rem;
    left: 48%;
  }

  .btn-start {
    top: 17%;
  }

  .btn-stop {
    top: 26%;
  }

  .pokeball {
    top: 33%;
  }

  #charge-1 {
    top: 33%;
  }

  .info-panels {
    font-size: 0.85rem;
  }

  .btn-credits {
    left: 92%;
  }

  footer {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 750px) {
  .wrapper {
    width: 100%;
    height: 100%;
  }

  .title {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 0.8rem;
  }

  .health-bar-0 {
    height: 25px;
  }

  .health-bar-1 {
    height: 25px;
  }

  footer {
    font-size: 0.8rem;
  }

  .pm-img {
    top: 37%;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.3rem;
  }

  .player-name {
    font-size: 1.1rem;
  }

  .btn {
    font-size: 0.6rem;
  }

  .btn-charge {
    top: 60%;
  }

  .info-panels {
    top: 6%;
    font-size: 0.75rem;
  }

  .pm-img {
    top: 36%;
  }
}
